<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add & Remove list project</title>
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
</head>
<body>
    
  <div class="container-fluid my-3">
      <div class="input-group mb-3 w-25">
        <input type="text" class="form-control" id="getItemVal" placeholder="Add & Remove Items" >
        <div class="input-group-append">
          <button class="btn btn-outline-success" type="button" id="addItem" onclick = "add()">Add</button>
        </div>
      </div>
      
      <ul class="items w-25 p-0"></ul>
  </div>

    
<script src="jQuery.min.js"></script>

<script>
  let input = $('#getItemVal');
  let items = [];
  let text = "";

  $(input).keyup(function(event){
    if(event.keyCode == 13){
      add();
    }
  });

  function add(){
    var value = input.val().trim();
    if(value !== ""){
      input.removeClass('border border-danger');
      items.push(value);
      printHere();
      input.val("");
      console.log(items);
    }else{
      input.addClass('border border-danger');
    }
  }

  function printHere(){
    let myItems = items.map((item, index) => '<li class="d-flex justify-content-between pb-2"><div>'+item+'</div><button type="button" class="btn px-3 btn-sm btn-danger deleteItem rounded-pill" id="delete_'+index+'" key="'+index+'">Delete</button></li>'); 
    $('.items').html(myItems);
  }

  $(document).on("click", ".deleteItem", function(){
    let key = $(this).attr('key');
    items.splice(key, 1);
    console.log(items)
    printHere();
  })

</script>

</body>
</html>