<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flex Properties</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    
<h2 class="text-center">CSS Flex Properties</h2>

<div class="buttons text-center">
    <button type="button" id="d_flex">display - flex</button>
    <button type="button" id="d_inline_block">display - inline-block</button>
    <button type="button" id="d_block">display - block</button>
</div>

<div class="flexOptions buttons text-center">
    <div id="flexOptions">
        <button type="button" class="direction" id="flex_row">flex-directions : row</button>
        <button type="button" class="direction" id="flex_row_reverse">flex-directions : row-reverse</button>
        <button type="button" class="direction" id="flex_column">flex-directions : column</button>
        <button type="button" class="direction" id="flex_column_reverse">flex-directions : column-reverse</button>
        <button type="button" class="justify" id="flex_start">justify-content : start</button>
        <button type="button" class="justify" id="flex_center">justify-content : center</button>
        <button type="button" class="justify" id="flex_end">justify-content : end</button>
        <button type="button" class="align" id="flex_align_start">align-items : start</button>
        <button type="button" class="align" id="flex_align_center">align-items : center</button>
        <button type="button" class="align" id="flex_align_end">align-items : end</button>
        <button type="button" id="flex_order">order</button>
    </div>
</div>

<div class="align-center parant">
    <ul type="none" id="ul">
        <li>item 1</li>
        <li>item 2</li>
        <li>item 3</li>
        <li>item 4</li>
        <li>item 5</li>
    </ul>
</div>



<script src="../assets/js/jQuery.min.js"></script>
<script src="index.js"></script>

</body>
</html>